<!DOCTYPE html>
<html>
<head>

    <title>Registro Retiro de transformación </title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="keywords" content="Amor y Restauración Cuatitlan Izcalli " />
    <meta name="description" content="Amor y Restauración Cuatitlan Izcalli">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />

    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="robots" content="index,follow,all" />
    <meta name="author" content="Francisco Garcia | STI" />

    <link rel="shortcut icon" href="Comun/favicon/Aplicacion.ico" type="image/x-icon">
    <link rel="icon" href="Comun/favicon/Aplicacion.ico" type="image/x-icon">

    <meta property="og:title" content="Amor y Restauración Cuatitlan Izcalli" />
    <meta property="og:type" content="video-movie" />
    <meta property="og:url" content="http://arqfranciscoga-002-site5.btempurl.com/PreRegistro" "  />
    <meta property="og:image" content="Comun/favicon/Aplicacion.ico" "  />

    <link href="Comun/LibreriasIconos/fontello/css/fontello.css" rel="stylesheet" />
    <link href="Comun/LibreriasIconos/fontello/css/animation.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1> Registro Retiro de Transformación</h1>
                @*@Html.ActionLink("Lista de asistentes", "Index" )*@
                @*@Html.ActionLink("Retiro de transformación", "Index", "PreRegistros", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Derechos  reservados   </p>
        </footer>
    </div>

    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>