@model Sitio.CuentaUsuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CuentaUsuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstacionTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstacionTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuarioSuperior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuarioSuperior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCambioEstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCambioEstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstatusUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstatusUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSuscriptor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSuscriptor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sesiones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sesiones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intentos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intentos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdIdioma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdIdioma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfiles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfiles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expira)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Privilegios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Privilegios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
